@model OgrenciYoklama.Areas.Admin.ViewModels.DerslerDersListele
@using System.Web.Optimization;


@{
    ViewBag.Title = "Ders Listele";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/admin/styles")
</head>
<body>

    <div>
        <div class="panel-heading"></div>
        <div class="col-md-1"></div>
        <div class="col-md-10">

            <div class="panel panel-primary">
                <div class="panel-heading text-center">
                    <b>
                        Ders Listesi
                        <div class="btn-group pull-right">
                            <a href="@Url.Action("DersEkle", new { })" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-plus"></i> <b>Yeni</b></a>
                        </div>
                    </b>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center mystyle">DERS ADI</th>
                                    <th class="text-center mystyle">BAŞLANGIÇ TARİHİ</th>
                                    <th class="text-center mystyle">BİTİŞ TARİHİ</th>
                                    <th class="text-center mystyle">HAFTALIK SAAT</th>
                                    <th class="text-center mystyle">İŞLEMLER</th>
                                </tr>
                            </thead>
                            <tbody>


                                @foreach (var Ders in @Model.Dersler)
                                {
                                    <tr class="default">
                                        <td class="text-center active"><b>@Ders.ders_adi</b></td>
                                        <td class="text-center active"><b>@Ders.baslangic_tarihi</b></td>
                                        <td class="text-center active"><b>@Ders.bitis_tarihi</b></td>
                                        <td class="text-center active"><b>@Ders.haftalik_saat</b></td>
                                        <td class="text-center active">
                                            <div class="btn-group">
                                                <a href="@Url.Action("DersSil",new { id = Ders.ders_id})" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-trash"></i> <b>Sil</b></a>
                                            </div>

                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

</body>
</html>
