@model OgrenciYoklama.ViewModels.LoginIndex
@using System.Web.Optimization;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Form</title>
    @Styles.Render("~/styles")
</head>
<body>
    <div class="login">
        <h1>Hoşgeldiniz</h1>
        
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()

            <div>
                @Html.TextBox("username", "", new { type = "text", placeholder = "Kullanıcı adı" })
            </div>

            <div>
                @Html.TextBox("password", "", new { type = "password", placeholder = "Şifre" })
            </div>


            <div>
                <input type="submit" value="Giriş" />
            </div>



        }

    </div>


    @Scripts.Render("~/admin/scripts")

</body>
</html>
