@model OgrenciYoklama.Areas.Admin.ViewModels.YoneticilerYoneticiListele
@using System.Web.Optimization;


@{
    ViewBag.Title = "Yonetici Listele";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
    @Styles.Render("~/admin/styles")
</head>
<body>

    <div>
        <div class="panel-heading"></div>
        <div class="col-md-1"></div>
        <div class="col-md-10">

            <div class="panel panel-primary">
                <div class="panel-heading text-center">
                    <b>
                        Yönetici Listesi
                        <div class="btn-group pull-right">
                            <a href="@Url.Action("YoneticiEkle", new { })" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-plus"></i> <b>Yeni</b></a>
                        </div>
                    </b>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center mystyle">YÖNETİCİ ADI</th>
                                    <th class="text-center mystyle">YÖNETİCİ SOYADI</th>
                                    <th class="text-center mystyle">KULLANICI ADI</th>
                                    <th class="text-center mystyle">İŞLEMLER</th>

                                </tr>
                            </thead>
                            <tbody>


                            @foreach (var Yonetici in @Model.Yoneticiler)
                                {


                                <tr class="default">


                                    <td class="text-center active"><b>@Yonetici.yonetici_ad</b></td>
                                    <td class="text-center active"><b>@Yonetici.yonetici_soyad</b></td>
                                    <td class="text-center active"><b>@Yonetici.kullanici_adi</b></td>
                                    <td class="text-center active">

                                        <div class="btn-group">
                                            <a href="@Url.Action("YoneticiSil",new { id = Yonetici.yonetici_id})" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-trash"></i> <b>Sil</b></a>
                                        </div>

                                    </td>
                                


                                </tr>
                            }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

</body>
</html>
